.quiz-topic {
  position: relative;
  width: 12rem;
  border: 2px solid white;
  cursor: pointer;
  height: 100%;
}

.quiz-topic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.2s all;
}

.overlay:hover {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .quiz-topic {
    width: 8rem;
  }
}
