.quiz-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.quiz-selection p {
  font-size: 1.4rem;
}

.quiz-selection .title {
  text-align: center;
  margin: 4rem;
}

.quiz-selection .title span {
  display: block;
  margin-top: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.quiz-topic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  place-items: center;
}

@media screen and (max-width: 500px) {
  .quiz-selection p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .quiz-topic-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .quiz-selection .title {
    margin: 3rem;
  }
}
