nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
  padding: 1.3rem;
}

nav h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

nav h2 span {
  color: var(--primary-color);
  margin: 0 0.3rem;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.nav-btns button {
  font-size: 2rem;
  background: transparent;
  color: white;
  margin-right: 0.5rem;
  border: none;
  text-align: center;
}

.nav-btns button:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 500px) {
  .nav-btns button {
    font-size: 1.5rem;
  }

  nav h2 {
    font-size: 1.5rem;
  }

  nav {
    padding: 1rem;
  }
}
