.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-input label {
  color: var(--primary-color);
  margin-bottom: 0.4rem;
}

.form-input input {
  border: none;
  width: 85%;
  font-size: 1.02rem;
}

.form-input input:focus {
  outline: none;
}

.input-with-icon {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.8rem;
  background-color: white;
  border-radius: 0.3rem;
  gap: 0.6rem;
}

.input-icon {
  color: #656565;
  font-size: 1.1rem;
}

.error-message {
  color: red;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}
