.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.headings {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.headings h1 {
  font-weight: 800;
}

.headings h1 span {
  color: var(--primary-color);
}
