@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #22cafa;
  --bg-color: #050a1f;
  --modal-bg: #262f3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: white;
  min-height: 100vh;
}

a {
  color: initial;
  text-decoration: none;
}

button {
  cursor: pointer;
}
